body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    color: darkblue;
    text-align: center;
    font-family: 'Georgia', serif;
}

p {
    text-align: justify;
    font-size: 18px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
